In [1]:
import pandas as pd

In [10]:
data = pd.read_csv('datasets/gdp_vs_happiness.csv')
data.rename(columns={'Life satisfaction in Cantril Ladder (World Happiness Report 2022)': 'Happiness',
             'GDP per capita, PPP (constant 2017 international $)': 'GDP_Per_Capita'}, inplace=True)
data

,Entity,Code,Year,Happiness,GDP_Per_Capita,Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2006,3.723590,1315.789062,25442946.0,NaN
2,Afghanistan,AFG,2007,4.401778,1460.825806,25903306.0,NaN
3,Afghanistan,AFG,2008,4.758381,1484.114502,26427204.0,NaN
4,Afghanistan,AFG,2009,3.831719,1758.904419,27385310.0,NaN
...,...,...,...,...,...,...,...
57371,Zimbabwe,ZWE,1987,NaN,NaN,9277484.0,NaN
57372,Zimbabwe,ZWE,1988,NaN,NaN,9568745.0,NaN
57373,Zimbabwe,ZWE,1989,NaN,NaN,9846352.0,NaN
57374,Zimbabwe,ZWE,2021,NaN,NaN,15993525.0,NaN
57375,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [3]:
data_2 = pd.read_csv('datasets/Time_Use.csv', sep=';')
data_2

,Country,Paid Work,Education,Care for household members,Housework,Shopping,Other unpaid work & volunteering,Sleep,Eating and drinking,Personal care,Sports,Attending events,Seeing friends,TV and Radio,Other leisure activities
0,Australia,211,27,45,132,29,58,512,89,56,19,6,40,140,76
1,Austria,280,27,34,125,21,32,498,79,55,32,9,82,109,59
2,Belgium,194,41,22,121,29,30,513,99,53,21,15,50,131,122
3,Canada,269,36,29,115,24,52,520,65,52,21,6,53,109,89
4,Denmark,200,25,28,128,26,45,489,119,52,22,7,81,123,95
5,Estonia,231,25,28,121,24,40,530,79,54,27,8,38,122,114
6,Finland,200,29,23,109,26,81,508,81,52,37,8,55,118,113
7,France,170,34,22,129,22,17,513,133,107,12,15,55,114,98
8,Germany,224,24,19,109,32,53,498,95,55,26,14,61,118,112
9,Greece,187,40,19,125,16,26,500,128,57,28,5,56,137,115
10,Hungary,199,38,33,150,19,36,506,101,76,13,6,35,134,94
11,Ireland,231,37,61,91,28,72,491,75,42,20,42,49,85,116
12,Italy,149,28,27,135,28,43,513,127,68,38,6,65,104,110
13,Japan,302,37,0,80,25,98,442,93,85,10,0,17,103,148
14,Korea,288,57,28,76,13,42,471,117,90,27,4,42,102,82
15,Latvia,317,13,15,130,16,39,512,89,40,25,5,35,123,81
16,Lithuania,304,12,19,154,17,42,503,88,54,16,1,32,137,61
17,Luxembourg,247,37,20,108,23,42,518,112,55,33,12,32,116,82
18,Mexico,304,45,38,187,14,46,499,77,58,14,7,44,66,41
19,Netherlands,218,25,22,105,28,46,503,114,65,22,7,73,113,101
20,New Zealand,239,29,30,110,24,59,526,80,42,17,6,69,124,85
21,Norway,201,40,23,83,20,77,492,79,56,21,8,57,129,154
22,Poland,229,30,38,135,25,39,509,91,57,23,3,45,122,93
23,Portugal,259,36,17,161,15,35,506,112,58,12,11,44,114,60
24,Slovenia,227,38,21,166,18,32,501,86,41,32,5,62,120,92
25,Spain,176,26,35,116,25,54,516,126,51,42,9,51,129,85
26,Sweden,268,31,33,107,23,33,483,83,57,34,9,53,113,112
27,Turkey,217,29,29,124,14,60,515,118,50,9,3,68,124,82
28,UK,234,27,32,104,29,62,508,79,58,19,7,47,133,98
29,USA,251,31,31,100,22,65,528,63,57,18,8,44,148,73
30,China,315,25,23,103,20,33,542,100,52,23,2,23,127,53
31,India,272,23,21,148,12,22,528,84,75,5,5,73,61,109
32,South Africa,202,39,18,130,9,41,553,72,70,5,5,82,132,82

In [4]:
countries = ["Australia", "Austria", "Belgium", "Canada", "Denmark", "Estonia", "Finland", "France",
             "Germany", "Greece", "Hungary", "Ireland", "Italy", "Japan", "Korea", "Latvia", "Lithuania",
             "Luxembourg", "Mexico", "Netherlands", "New Zealand", "Norway", "Poland", "Portugal", "Slovenia",
             "Spain", "Sweden", "Turkey", "UK", "USA", "China", "India", "South Africa"]

In [20]:
data_hap = data[data.Entity.isin(countries)]
data_hap = data_hap[~data_hap.Happiness.isna()].drop(
    columns=['Code', 'Population (historical estimates)', 'Continent', 'GDP_Per_Capita']).rename(columns={'Entity':'Countries'}).reset_index(drop=True)
data_hap.to_csv('datasets/Happiness.csv', index=False)

     Countries  Year  Happiness
0    Australia  2003   7.340688
1    Australia  2005   7.285391
2    Australia  2006   7.253757
3    Australia  2008   7.450047
4    Australia  2009   7.405616
..         ...   ...        ...
478     Turkey  2016   5.185689
479     Turkey  2017   4.872074
480     Turkey  2018   4.861554
481     Turkey  2019   4.947600
482     Turkey  2020   4.744200

[483 rows x 3 columns]

In [4]:
# Taking only year 2020
data = data[data.Entity.isin(countries)]
data = data[data.Year == 2020].reset_index(drop=True).drop(
    columns=['Population (historical estimates)', 'Continent', 'Code', 'Year'])
data

          Entity  Happiness  GDP_Per_Capita
0      Australia     7.1621    48678.683594
1        Austria     7.1630    51857.691406
2        Belgium     6.8050    48769.726562
3         Canada     7.0251    46064.253906
4          China     5.5853    16315.815430
5        Denmark     7.6362    55819.910156
6        Estonia     6.3408    35257.160156
7        Finland     7.8210    47154.425781
8         France     6.6867    42320.523438
9        Germany     7.0341    51423.234375
10        Greece     5.9482    27072.619141
11       Hungary     6.0859    31098.396484
12         India     3.7771     6165.746582
13       Ireland     7.0408    90789.218750
14         Italy     6.4667    39073.414062
15         Japan     6.0389    40232.210938
16        Latvia     6.1804    30100.269531
17     Lithuania     6.4456    37107.058594
18    Luxembourg     7.4040   112557.312500
19        Mexico     6.1276    17852.359375
20   Netherlands     7.4149    54324.382812
21   New Zealand     7.1998    42774.691406
22        Norway     7.3651    63548.000000
23        Poland     6.1228    32398.705078
24      Portugal     6.0163    31961.775391
25      Slovenia     6.6301    37050.546875
26  South Africa     5.1939    12665.832031
27         Spain     6.4763    36210.875000
28        Sweden     7.3843    50923.109375
29        Turkey     4.7442    28393.466797

In [5]:
data = data.join(data_2).drop(columns='Country').rename(columns={'Entity': 'Countries'})
data

,Countries,Happiness,GDP_Per_Capita,Paid Work,Education,Care for household members,Housework,Shopping,Other unpaid work & volunteering,Sleep,Eating and drinking,Personal care,Sports,Attending events,Seeing friends,TV and Radio,Other leisure activities
0,Australia,7.1621,48678.683594,211,27,45,132,29,58,512,89,56,19,6,40,140,76
1,Austria,7.1630,51857.691406,280,27,34,125,21,32,498,79,55,32,9,82,109,59
2,Belgium,6.8050,48769.726562,194,41,22,121,29,30,513,99,53,21,15,50,131,122
3,Canada,7.0251,46064.253906,269,36,29,115,24,52,520,65,52,21,6,53,109,89
4,China,5.5853,16315.815430,200,25,28,128,26,45,489,119,52,22,7,81,123,95
5,Denmark,7.6362,55819.910156,231,25,28,121,24,40,530,79,54,27,8,38,122,114
6,Estonia,6.3408,35257.160156,200,29,23,109,26,81,508,81,52,37,8,55,118,113
7,Finland,7.8210,47154.425781,170,34,22,129,22,17,513,133,107,12,15,55,114,98
8,France,6.6867,42320.523438,224,24,19,109,32,53,498,95,55,26,14,61,118,112
9,Germany,7.0341,51423.234375,187,40,19,125,16,26,500,128,57,28,5,56,137,115
10,Greece,5.9482,27072.619141,199,38,33,150,19,36,506,101,76,13,6,35,134,94
11,Hungary,6.0859,31098.396484,231,37,61,91,28,72,491,75,42,20,42,49,85,116
12,India,3.7771,6165.746582,149,28,27,135,28,43,513,127,68,38,6,65,104,110
13,Ireland,7.0408,90789.218750,302,37,0,80,25,98,442,93,85,10,0,17,103,148
14,Italy,6.4667,39073.414062,288,57,28,76,13,42,471,117,90,27,4,42,102,82
15,Japan,6.0389,40232.210938,317,13,15,130,16,39,512,89,40,25,5,35,123,81
16,Latvia,6.1804,30100.269531,304,12,19,154,17,42,503,88,54,16,1,32,137,61
17,Lithuania,6.4456,37107.058594,247,37,20,108,23,42,518,112,55,33,12,32,116,82
18,Luxembourg,7.4040,112557.312500,304,45,38,187,14,46,499,77,58,14,7,44,66,41
19,Mexico,6.1276,17852.359375,218,25,22,105,28,46,503,114,65,22,7,73,113,101
20,Netherlands,7.4149,54324.382812,239,29,30,110,24,59,526,80,42,17,6,69,124,85
21,New Zealand,7.1998,42774.691406,201,40,23,83,20,77,492,79,56,21,8,57,129,154
22,Norway,7.3651,63548.000000,229,30,38,135,25,39,509,91,57,23,3,45,122,93
23,Poland,6.1228,32398.705078,259,36,17,161,15,35,506,112,58,12,11,44,114,60
24,Portugal,6.0163,31961.775391,227,38,21,166,18,32,501,86,41,32,5,62,120,92
25,Slovenia,6.6301,37050.546875,176,26,35,116,25,54,516,126,51,42,9,51,129,85
26,South Africa,5.1939,12665.832031,268,31,33,107,23,33,483,83,57,34,9,53,113,112
27,Spain,6.4763,36210.875000,217,29,29,124,14,60,515,118,50,9,3,68,124,82
28,Sweden,7.3843,50923.109375,234,27,32,104,29,62,508,79,58,19,7,47,133,98
29,Turkey,4.7442,28393.466797,251,31,31,100,22,65,528,63,57,18,8,44,148,73

In [6]:
data.to_csv('Time_Happiness_GDP.csv', index=False)